body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('images/background.svg') #edeff0;
  background-size: 50px;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);

  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.nav-icon {
  transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.nav-icon:hover {
  fill: #000;
  transform-origin: 50% 50%;
  animation: rotate 1s ease forwards;
}

.mobile-subheader {
  visibility: hidden;
}

.corgiSVG { 
  height: 170px;
  margin-bottom: 20px;

}
.corgiSVG:hover {
  animation: rotate 1s ease forwards;
}

#redCorgi .st0{fill:#BA8058;}
#redCorgi .st1{fill:#FBFEFF;}
#redCorgi .st2{fill:#2D3339;}
#redCorgi .st3{fill:#EAAA7F;}

#fawnCorgi .st0{fill:#EAAA7F;}
#fawnCorgi .st1{fill:#FBFEFF;}
#fawnCorgi .st2{fill:#2D3339;}
#fawnCorgi .st3{fill:#F4C6A6;}

#sableCorgi .st0{fill:#844B24;}
#sableCorgi .st1{fill:#FBFEFF;}
#sableCorgi .st2{fill:#2D3339;}
#sableCorgi .st3{fill:#BA8058;}

#blackTtanCorgi .st0{fill:#BA8058;}
#blackTanCorgi .st1{fill:#52595F;}
#blackTanCorgi .st2{fill:#FBFEFF;}
#blackTanCorgi .st3{fill:#2D3339;}

@media (max-width: 420px) {
  .logoText {
    display: none;
  }
  .mobile-subheader {
    visibility: visible;
  }


}
